<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Gallery</title>
  </head>
  <body>
    <a href="/">Home</a><br>
    <h1>Image Gallery</h1>
    {% if images %}
        <h2>{{user}}'s images</h2>
        {% for key, value in images.items() %}
          <form action="/delete" method="POST">
              <li>
                <img src="data:image/jpeg;base64,{{ value | safe }}" style="width: 100%; max-width: 400px;">
                <input type="hidden" name="key" value="{{ key }}"><br>
                <input type ="submit" value="Delete {{key}}"/>
              </li>
        {% endfor %}
      {% else %}
      <h1>No images :( Upload some <a href="/upload">here</a></h1>
      {% endif %}
  </body>
</html>
